<!-- <div style="">


<span><%=flash[:notice]%></span>
<div>
<%# <%=image_tag("banner1", size:"100%")%> %>
</div>
<%# <%=link_to "sign up",new_user_registration_path %> %>
<%# <%=link_to "sign in",new_user_session_path %> %>
<%# <% if user_signed_in?%>
<%# <%= link_to "Sign Out" , destroy_user_session_path,method: :delete%><%end%> %> %>
</div>
<%# <%=link_to "go to main website", products_path %> --> %>
