<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">


  <%=  link_to image_tag("logonew.png"), root_path%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <%if user_signed_in? && current_user.admin?%>
        <%=  link_to "Admin view", admin_dashboard_path ,class:"nav-link"%>
        <%=  link_to "Add product", new_product_path,class:"nav-link"%>
        <%=  link_to "View products",products_path, class:"nav-link"%>
        <%=  link_to "Log out", destroy_user_session_path,method: :delete,class:"nav-link"%>
        <%elsif user_signed_in?%>
        <%=  link_to "Log out", destroy_user_session_path,method: :delete,class:"nav-link"%>
        <%=  link_to "Cart", line_items_path,class:"nav-link"%>
        <%else%>
        <%=  link_to "Log In", new_user_session_path,class:"nav-link"%>
        <%=  link_to "Sign Up", new_user_registration_path,class:"nav-link"%>

        <%end%>



            <div class="form-inline" style="position:fixed;right:0;margin-right:10px">
        <%= form_with url: "search", action: :search ,method: :get do |form| %>
        <div class="row">
          <div class="col-sm-7">
            <%= form.text_field :search,class:"form-control mr-sm-1",placeholder:"Search"  %>
          </div>
          <div class="col-sm-2">
            <%= form.submit "Search", class:"btn btn-outline-success my-1 my-sm-0",:name => nil %>
        </div>
          <%end %>
        </div>
      </div>

        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         -->
      


      </div>
    </div>
  </div>
</nav>
